<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="coveralls.io" version="1.4.2" targetFramework="net461" />
  <package id="Microsoft.CodeCoverage" version="16.5.0" targetFramework="net461" />
  <package id="Microsoft.NET.Test.Sdk" version="16.5.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.1.1" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.1.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="RestSharp" version="106.10.1" targetFramework="net461" />
</packages>